/clusters/kafka/.env
/clusters/mongo/.env
/clusters/redis/.env
/clusters/kafka/docker-compose.yml
/clusters/kafka/README.md
/clusters/mongo/docker-compose.yml
/clusters/mongo/scripts/
/clusters/mongo/certs/
/clusters/prometheus/docker-compose.yml
/clusters/prometheus/prometheus.yml
/clusters/prometheus/scripts/
/clusters/redis/scripts/
/clusters/redis/docker-compose.yml
/clusters/clamv/.env
/clusters/clamv/scripts/
/clusters/clamv/docker-compose.yml
/clusters/ollama/.env
/clusters/ollama/scripts/
/clusters/ollama/docker-compose.yml
/clusters/nginx/.env
/clusters/nginx/conf/
/clusters/nginx/scripts/
/clusters/nginx/docker-compose.yml
/clusters/nginx/README.md
/clusters/prometheus/.env
/apps/maestro/.env
/clusters/kafka/certs/
/clusters/kafka/scripts/
/clusters/kafka/secrets/
/deploy/
/apps/maestro/secrets/
